#relative-container {
    position: relative;
    flex-grow: 1;
}

#top-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

html, body {
    height: 100%;
}

#flex-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0px;
    left: 0px;
    top: 0px;
    width: 100%;
    height: auto;
}

#app {
    flex-grow: 0;
}

footer {
    margin-top: 40px;
    flex-grow: 1;
    background-color: lightblue;
    padding: 20px 0;
}