#relative-container {
    position: relative;
    flex-grow: 1;
}

#top-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

html, body {
    height: 100%;
}

body {
    background: url("/static/image/bg.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

#flex-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0px;
    left: 0px;
    top: 0px;
    width: 100%;
}

#app {
    flex-grow: 0;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7);
}

footer {
    position: relative;
    flex-grow: 1;
    padding: 20px 0;
    color: white;
}

#footer-flex {
    position: absolute;
    bottom: 0px;
    left: 0px;
    top: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#footer-main {
    background-color: rgba(100, 100, 255, 0.6);
    flex-grow: 1;
    padding: 20px 10px;
}

#footer-bottom a {
    color: white;
    text-decoration: underline;
}

#footer-bottom {
    background-color: rgba(100, 100, 255, 0.6);
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-item {
    display: block;
    color: #D4CF6A;
    padding: 10px;
    text-align: center;
}

.flex-grow {
    flex-grow: 1;
}

article {
    word-wrap: break-word;
}