<div class="container">
    {{ render "partial/message.html" }}
    
    {{ $article := .Article }}
    <article>
        <h1><small>#{{ $article.ID }}</small> {{ $article.Title }}</h1>
        <h4>by {{ $article.Username }} <small>on {{ $article.CreatedAt }}</small></h4>
        <div class="text">
            {{ $article.Text }}
        </div>
    </article>
    {{ $p := .Property }}
    {{ if eq $article.UserID $p.UserID }}
    <div>
        <a href='{{ urlpath "edit-article" $article.ID }}' class="btn btn-default">Edit</a>
    </div>
    {{ end }}
</div>