<div class="container">
    {{ if .Message }}
    <div class="row">
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>{{ .Message }}</strong>
        </div>
    </div>
    {{ end }}
    {{ $article := .Article }}
    <article>
        <h1><small>#{{ $article.ID }}</small> {{ $article.Title }}</h1>
        <h4>by {{ $article.Username }} <small>on {{ $article.CreatedAt }}</small></h4>
        <div class="text">
            {{ $article.Text }}
        </div>
    </article>
    <div>
        <a href='{{ urlpath "edit-article" $article.ID }}' class="btn btn-default">Edit</a>
    </div>
</div>