<div class="container">
    {{ range $article := .Articles }}
    <article>
        <h1><small><a href='{{ urlpath "article" $article.ID }}'>#{{ $article.ID }}</a></small> {{ $article.Title }}</h1>
        <h4>by <a href='{{ urlpath "user" $article.UserID }}'>{{ $article.Username }}</a> <small>on {{ $article.CreatedAt }}</small></h4>
        <div class="text">
            {{ $article.Text }}
        </div>
    </article>
    {{ end }}
    
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li>
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {{ range $i, $el := .Pages }}
            <li><a href='{{ urlpath "landing" }}?page={{ $el }}'>{{ $el }}</a></li>
            {{ end }}
            <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
            
</div>