<div class="container">
    {{ if .Message }}
    <div class="row">
        <div class="alert alert-{{ .MessageType }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>{{ .Message }}</strong>
        </div>
    </div>
    {{ end }}
    <div class="jumbotron">
        <h1>Niec</h1>
        <p>
            Pronounced as Nice
        </p>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-sm-offset-4">
            <a href='{{ urlpath "signin" }}' class="btn btn-default btn-block">
                Already a member? Log in.
            </a>
            <a href='{{ urlpath "signup" }}' class="btn btn-default btn-block">
                Try us out! Sign up.
            </a>
            <a href='{{ urlpath "learn-more" }}' class="btn btn-default btn-block">
                Learn more.
            </a>
        </div>
    </div>
</div>