<div class="container">
    <div class="jumbotron">
        <h1>Niec</h1>
        <p>
            Pronounced as Nice
        </p>
    </div>
    
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
        <a href='{{ url "signin" }}' class="btn btn-default btn-block">
            Already a member? Log in.
        </a>
        <a href='{{ url "signup" }}' class="btn btn-default btn-block">
            Try us out! Sign up.
        </a>
        <a href='{{ url "learnmore" }}' class="btn btn-default btn-block">
            Learn more.
        </a>
    </div>
</div>