<div class="container">
    <div class="page-header">
        <h1>SignUp - Next</h1>
    </div>
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
        <div class="row">
            <form method="POST">
                {{ range $field := .Fields }}
                <div class="form-group">
                    <label class="sr-only" for="{{ $field.Name }}">{{ $field.Placeholder }}</label>
                    <input id="{{ $field.Name }}" type="{{ $field.Type }}" class="form-control bg-primary" placeholder="{{ $field.Placeholder }}" name="{{ $field.Name }}">
                </div>
                {{ end }}
                <div class="form-group">
                    <textarea class="form-control" rows="3" placeholder="Enter a short bio (Optional)" name="bio"></textarea>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default btn-block" value="Next">
                </div>
            </form>
        </div>
    </div>
</div>