<div class="container">
    {{ $user := .User }}
    <div class="col-md-4 col-xs-12">
        <img src="{{ $user.DP }}" class="img-responsive center-block">
        <h1>{{ $user.Username }}</h1>
        <h3><a href="{{ $user.Website }}">{{ $user.Website }}</a></h3>
        <p>
            <strong>Join date: </strong>{{ $user.CreatedAt }}
        </p>
        {{ $p := .Property }}
        {{ if eq $p.UserID $user.ID }}
        <a href='{{ urlpath "draft" $user.ID }}' class="btn btn-default btn-block">View Drafts</a>
        {{ end }}
    </div>
    <div class="col-md-8 col-xs-12">
        {{ $user.Bio }}
    </div>
</div>